<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" th:with="title='登录'">
<head th:replace="common/head :: common_header(~{::link},~{::script})">
    <link type="text/css" rel="stylesheet" th:href="@{/web/login/login.css}"/>
    <script type="text/javascript" th:src="@{/web/home/home.js}"></script>
</head>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<div th:replace="common/top"></div>

<div class="container-fluid">
    <div class="row-fluid" style="height: 500px;overflow: hidden">
        <table width="98%">
            <tr>
                <td width="20%">
                    <div class="span3">
                        <div class="accordion" id="accordion-919397">
                            <ul style="list-style: none" th:each="gnmklist,status:${gnmk}">
                                <li>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-919397" th:href="${gnmklist.mk_url}" th:text="${gnmklist.mkmc}"></a>
                                        </div>
                                        <ul th:each="gncdlist,status:${gncd}" style="list-style: none">
                                            <li th:if="${gncdlist.mkid} == ${gnmklist.id}">
                                                <div th:id="${gnmklist.mk_url1}" class="accordion-body collapse" >
                                                    <div class="accordion-inner">
                                                        <a th:href="${gncdlist.gn_url}"><span th:text="${gncdlist.gn_mc}"></span></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="span9">
                        <div class="page-header">
                            <h1>
                                页标题范例 <small>此处编写页标题</small>
                            </h1>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="common/foot"></div>
</html>